.page-sidebar img{
    width: 250px;
}



.profile{
    margin-top: 10px;
   
}

.profile small{
    font-size: 14px;
    color: var(--color-text-secondary) ;
}

.dashboard{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 20px;
}

.dashboard div p {
    font-size: 20px;
   
    text-align: center;
}

.dashboard div small{
    font-size: 12px;
   
}

.actions{
    margin-top: 40px;

}

.actions ul li {
    
    line-height: 40px;
    font-size: 18px;
}

.actions ul li i {
    margin-right: 10px;
    font-size: 24px;
}

.page-body{ 
    background: var(--color-secondary);
    width: 100vw;
    padding-top: 20px;
    padding-left: 20px;

}

.stories p{
   
    font-size: 20px;
}



.title{
    
    margin-top: 30px;
    font-size: 20px;
}

.publications{ 
    margin-top: 20px;
   
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(293px ,1fr));}

   
.pub-item {
    margin-top: 10px;
    width: 300px;
   
}

 .pub-item .pub-body img{
    width: 293px;
    height: 293px;
    border-radius: 4px;
    
}
.pub-item .pub-footer {
    
    display: flex;
    justify-content: space-between;
}
 .nick{
    display: flex;
    
}
.pub-item strong{
    display: flex;
    font-size: 18px;
}
.nick img{
width: 30px;
height: 30px;

}